html {
	background-color: lightgray;
	font-family: Arial;
}
body {
	width: 3000px;
	margin: 0 auto;
	background-color: white;
	background-repeat: no-repeat;
	height: 3000px;
}
h1{
	text-align:center;
	font-size: 30px;
	text-shadow: rgba(0, 0, 0, .6) 2px 2px 2px;}
#da{
	background-color: rgba(255, 255, 255, .8);
    height: 40px;
    box-shadow: rgba(0, 0, 0, .8) 0 1px 0;
}

h1:hover {
	color: red;
}
p {
    font-family: "Comic Sans MS";
    font-size: 25px;
    font-style: italic;
}
#da2 {
	background-image: url(img/code.jpg);
	margin:50px 0 0 0;
	height:500px ;
	background-repeat: no-repeat;
	width: 200px;
}

#ne  {
	color: black;
}	


h3 {
  height: 10px;
  
}
#da3 {
	background-image: url(img/jojo.jpg);
	margin:-220px 0 0 10px;
	height:300px ;
	background-repeat: no-repeat;
	width: 300px;
}

#ne2 {
	color: white;
	font-size: 16px;
	width: 16px;
}


#da4 {
	background-image: url(img/demon.jpg);
	margin:-312px 0 0 350px;
	height:310px ;
	background-repeat: no-repeat;
	width: 300px;
}

#ne3 {
	font-size: 12px;
}

#da5 {
	background-image: url(img/naruto.jpg);
	margin:-617px 0 0 350px;
	height:300px ;
	background-repeat: no-repeat;
	width: 300px;
}

#ne4 {
	font-size: 14px;
}

#da6 {
	background-image: url(img/mob.jpg);
	margin:-314px 0 0 713px;
	height:290px ;
	background-repeat: no-repeat;
	width: 300px;
}

#ne5 {
	color: white;
	font-size: 15px;
}

#da7 {
	background-image: url(img/king.jpg);
	margin:-14px 0 0 711px;
	height:300px ;
	background-repeat: no-repeat;
	width: 300px;
}

#ne6 {
	color: white;
}